.admin-section-skill {

    @mixin fine_button {
        color: white;
        background-color: $color-accent;
        padding: 10px 40px;
        outline: none;
        border: none;
        font-weight: bolder;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
            background-color: darken($color-accent, 10%);
        }
    }

    @mixin fine_input {

        label {
            color: $color-accent;
            font-size: 1rem;
            display: block;
            margin-bottom: 5px;
            font-weight: 650;
        }

        input[type=text], textarea {
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 5px 0;
            text-indent: 2%;
            font-weight: 700;
            resize: none;
            caret-color: $color-primary-dark;

            &:focus {
                outline: none;
                box-shadow: 1px 1px 3px $color-primary-dark;
            }

        }
    }

    .heading-primary {
        color: $color-primary-dark;
        font-family: 'Lilita';
        font-size: 3rem;
        margin: 15px 0;
    }

    .skill-grid {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 20px;

        .top-heading {
            color: white;
            font-weight: 700;
            padding: 15px;
            margin: 0;
        }

        .skills {

            border: 1px solid #ccc;
            border-radius: 4px;

            .skills-top {
                background-color: $color-primary;
                width: 100%;
            }

            .skills-content {
                height: 400px;
                overflow-y: scroll;
                width: 100%;
                
                .skill {
                    padding: 10px 15px;

                    &:hover {
                        cursor: pointer;
                        background-color: lighten(#ccc, 18%);

                        i {
                            display: block;
                        }

                    }
                    
                    &:not(:last-child) {
                        border-bottom: 1.3px solid #ccc;
                    }

                    &-title {
                        color: black;
                        font-size: 1.5rem;
                        font-weight: 700;
                        padding: 5px 0;

                        i {
                            display: none;
                            float: right;
                            color: red;
                        }
                    }

                    &-description {
                        font-weight: 550;
                        color: black;
                    }

                }

            }
        }

        .skills-edit {

            border: 1px solid #ccc;
            border-radius: 4px;

            .skills-edit-top {
                background-color: $color-primary-dark;
                display: flex;

                .icon-right {
                    margin: auto 20px auto auto;
                    font-size: 1rem;
                    background-color: lighten($color: $color-accent, $amount: 15%);
                    color: white;
                    transition: all .3s;
                    padding: 5px 15px;
                    outline: none;
                    border: none;
                    border-radius: 4px;

                    &:hover {cursor: pointer; background-color: $color-accent;}
                }

            }

            .skill-edit-empty {
                display: flex;
                text-align: center;
                flex-direction: column;
                margin-top: 80px;
                justify-content: center;
                align-items: center;

                .heading {
                    color: black;
                    font-weight: bolder;
                    display: block;
                    font-size: 1.4rem;
                }

                .added-text {
                    color: gray;
                    font-weight: bolder;
                    padding: 2px 20px;
                    display: block;
                    font-size: 1rem;
                }

            }

            .skills-content {

                height: 400px;
                overflow-y: scroll;

                .submit-button {

                    text-align: center;
                    margin: 5px 0;

                    button {
                        @include fine_button();
                    }
                }

                .input {
                    padding: 10px 15px;
                    @include fine_input();

                    .with {
                        display: grid;
                        grid-template-columns: 50% 45%;
                        gap: 20px;

                        input {
                            @include fine_input();
                        }

                        button {
                            @include fine_button();
                        }
                    }
                }

            }
        }

    }

}