.section-talks {
    padding: $section-padding;
    background-image: linear-gradient(
        rgba(253, 203, 110, 0.6), rgba(235, 206, 46, 0.6)
        ), url('../images/speaking.jpg');
    border-radius: 20px;
    background-size: cover;
    margin-top: 20px;

    .talks {

        .talk {
            padding: 5px 0 15px 0;
            margin-bottom: 20px;
            border-bottom: 2px solid gray;

            .talk-title {
                font-family: 'Lilita';
                color: $color-primary-dark;
                font-weight: 700;
                font-size: 2rem;
                margin-bottom: 5px;
                display: block;

                .upcoming {
                    background-color: $color-accent;
                    color: white;
                    font-size: .8rem !important;
                    border-radius: 3px;
                    padding: .3rem;
                    margin: auto 0;
                }

            }

            .talk-venue {
                font-style: italic;
                color: black;
                font-weight: bolder;
                font-size: 1rem;
            }

            .talk-date {
                color: $color-secondary;
                font-weight: bolder;
                font-size: 1rem;
            }

            .talk-slides a {
                color: black;
                text-decoration: black underline;

                &:hover {
                    cursor: pointer;
                }

            }

            .talk-snip {
                margin: 10px 0;
                display: block;
                font-weight: bold;
                font-size: 1rem;
            }

        }

    }

}