$gray: lightgray;

.section-work {
    padding: $section-padding;
    background-image: linear-gradient(
        rgba(253, 255, 110, 0.7), rgba(255, 255, 177, 0.7)
        ), url('../../images/blur-business-coffee-commerce-273222.jpg');
    border-radius: 20px;
    background-size: cover;
    margin-top: 3rem;

    .workrobe {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-auto-rows: 1fr;

        .work {
            margin: 10px 0;
            cursor: pointer;

            &:hover &:not(:hover) {
                color: gray;
            }

            .work-title {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 1.1rem;
                padding: .4rem 0;
            }

            .work-description {
                font-size: 1rem;
                line-height: 1.1;
                font-weight: 500;
            }

            .work-tags {
                margin-right: 1em;
                display: flex;
                margin-top: 1em;
                justify-content: flex-end;

                .tag {
                    padding: 4px 5px;
                    border-radius: 4px;
                    margin: 0 3px;
                    color: white;

                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }

                .ng-tag {
                    background-color: red;
                }

                .andr-tag {
                    background-color: green;
                }

                .web-tag {
                    background-color: lightblue;
                }
            }

            .work-links {

                a {
                    text-decoration: none;
                    font-size: 1.4rem;
                    margin: 0 5px;
                }

                .github-link {
                    color: black;
                }

                .web-link {
                    color: lightblue;
                }

                .apk-link {
                    color: green;
                }
            }

        }

    }
}