<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Dashboard</title>
    <link href="https://fonts.googleapis.com/css?family=Lilita+One|Noto+Sans+HK|Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../font-awesome-4.0.3/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="../styles/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="shortcut icon" href="../images/avatar.png" type="image/x-icon">
</head>
<body>
    <div class="container">
        <section class="admin-section-work">
            <h1 class="heading-primary">Work</h1>
            <div class="work-grid">
                <div class="works">
                    <div class="works-top">
                        <h2 class="top-heading">Works</h2>
                    </div>
                    <div class="works-content">
                        <div class="work">
                            <div class="work-title">Lorem ipsum dolor sit. <i class="fa fa-trash-o"></i></div>
                            <div class="work-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, veritatis?</div>
                        </div>
                        <div class="work">
                            <div class="work-title">Lorem ipsum dolor sit. <i class="fa fa-trash-o"></i></div>
                            <div class="work-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, veritatis?</div>
                        </div>
                        <div class="work">
                            <div class="work-title">Lorem ipsum dolor sit. <i class="fa fa-trash-o"></i></div>
                            <div class="work-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, veritatis?</div>
                        </div>
                        <div class="work">
                            <div class="work-title">Lorem ipsum dolor sit. <i class="fa fa-trash-o"></i></div>
                            <div class="work-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, veritatis?</div>
                        </div>
                        <div class="work">
                            <div class="work-title">Lorem ipsum dolor sit. <i class="fa fa-trash-o"></i></div>
                            <div class="work-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, veritatis?</div>
                        </div>
                        <div class="work">
                            <div class="work-title">Lorem ipsum dolor sit. <i class="fa fa-trash-o"></i></div>
                            <div class="work-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, veritatis?</div>
                        </div>
                        <div class="work">
                            <div class="work-title">Lorem ipsum dolor sit. <i class="fa fa-trash-o"></i></div>
                            <div class="work-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, veritatis?</div>
                        </div>
                        <div class="work">
                            <div class="work-title">Lorem ipsum dolor sit. <i class="fa fa-trash-o"></i></div>
                            <div class="work-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, veritatis?</div>
                        </div>
                        <div class="work">
                            <div class="work-title">Lorem ipsum dolor sit. <i class="fa fa-trash-o"></i></div>
                            <div class="work-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, veritatis?</div>
                        </div>
                    </div>
                </div>
                <div class="works-edit">
                    <div class="works-edit-top">
                        <h2 class="top-heading">Works Edit</h2>
                        <span class="icon-right">&plus;</span>
                    </div>
                    <!-- <div class="work-edit-empty">
                        <span class="heading">No work selected</span>
                        <span class="added-text">Select a work on the right to edit, or click the <b>Add</b> button to add a new work</span>
                    </div> -->
                    <div class="works-content">
                        <form>
                            <div class="input">
                                <label for="title">Title</label>
                                <input type="text" name="title" id="title">
                            </div>
                            <div class="input">
                                <label for="description">Description</label>
                                <textarea name="description" id="description" cols="30" rows="6"></textarea>
                            </div>
                            <div class="input">
                                <label for="tags">Tags</label>
                                <div class="tags">
                                    <div class="tag-ch"><input type="checkbox"> Android</div>
                                    <div class="tag-ch"><input type="checkbox"> Web</div>
                                    <div class="tag-ch"><input type="checkbox"> Angular</div>
                                </div>
                            </div>
                            <div class="input">
                                <label for="state">State</label>
                                <div class="tag-ch"><input type="checkbox"> Private</div>
                            </div>
                            <div class="input">
                                <label for="github">GitHub</label>
                                <input type="text" name="github" id="github">
                            </div>
                            <div class="input">
                                <label for="apk">APK</label>
                                <input type="text" name="apk" id="apk">
                            </div>
                            <div class="input">
                                <label for="web_url">Web URL</label>
                                <input type="text" name="web_url" id="web_url">
                            </div>
                            <div class="submit-button">
                                <button>Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section class="admin-section-talks">
            <h1 class="heading-primary">Talks</h1>
            <div class="talk-grid">
                <div class="talks">
                    <div class="talks-top">
                        <h2 class="top-heading">Talks</h2>
                    </div>
                    <div class="talks-content">
                        <div class="talk">
                            <div class="talk-title">Lorem ipsum dolor sit. <i class="fa fa-trash-o"></i></div>
                            <div class="talk-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, veritatis?</div>
                        </div>
                        <div class="talk">
                            <div class="talk-title">Lorem ipsum dolor sit. <i class="fa fa-trash-o"></i></div>
                            <div class="talk-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, veritatis?</div>
                        </div>
                        <div class="talk">
                            <div class="talk-title">Lorem ipsum dolor sit. <i class="fa fa-trash-o"></i></div>
                            <div class="talk-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, veritatis?</div>
                        </div>
                        <div class="talk">
                            <div class="talk-title">Lorem ipsum dolor sit. <i class="fa fa-trash-o"></i></div>
                            <div class="talk-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, veritatis?</div>
                        </div>
                        <div class="talk">
                            <div class="talk-title">Lorem ipsum dolor sit. <i class="fa fa-trash-o"></i></div>
                            <div class="talk-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, veritatis?</div>
                        </div>
                        <div class="talk">
                            <div class="talk-title">Lorem ipsum dolor sit. <i class="fa fa-trash-o"></i></div>
                            <div class="talk-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, veritatis?</div>
                        </div>
                        <div class="talk">
                            <div class="talk-title">Lorem ipsum dolor sit. <i class="fa fa-trash-o"></i></div>
                            <div class="talk-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, veritatis?</div>
                        </div>
                        <div class="talk">
                            <div class="talk-title">Lorem ipsum dolor sit. <i class="fa fa-trash-o"></i></div>
                            <div class="talk-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, veritatis?</div>
                        </div>
                        <div class="talk">
                            <div class="talk-title">Lorem ipsum dolor sit. <i class="fa fa-trash-o"></i></div>
                            <div class="talk-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, veritatis?</div>
                        </div>
                    </div>
                </div>
                <div class="talks-edit">
                    <div class="talks-edit-top">
                        <h2 class="top-heading">Talks Edit</h2>
                        <span class="icon-right">&plus;</span>
                    </div>
                    <!-- <div class="talk-edit-empty">
                        <span class="heading">No talk selected</span>
                        <span class="added-text">Select a talk on the right to edit, or click the <b>Add</b> button to add a new talk</span>
                    </div> -->
                    <div class="talks-content">
                        <form>
                            <div class="input">
                                <label for="title">Title</label>
                                <input type="text" name="title" id="title">
                            </div>
                            <div class="input">
                                <label for="description">Description</label>
                                <textarea name="description" id="description" cols="30" rows="6"></textarea>
                            </div>
                            <div class="input">
                                <label for="date">Date</label>
                                <input type="date" name="date" id="date">
                            </div>
                            <div class="input">
                                <label for="venue">Venue</label>
                                <input type="text" name="venue" id="venue">
                            </div>
                            <div class="input">
                                <label for="upcoming">Upcoming</label>
                                <div class="tag-ch"><input type="checkbox"> Upcoming</div>
                            </div>
                            <div class="input">
                                <label for="slides">Slides</label>
                                <input type="text" name="slides" id="slides">
                            </div>
                            <div class="submit-button">
                                <button>Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </div>
</body>
</html>