<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link href="https://fonts.googleapis.com/css?family=Lilita+One|Noto+Sans+HK|Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../font-awesome-4.0.3/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="../styles/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="shortcut icon" href="../images/avatar.png" type="image/x-icon">
</head>
<body>
    <!-- Header Section -->
    <header class="header">
        <nav class="top-nav">
            <div class="heading-image">
                    <img src="../images/avatar.png" alt="fouad's avatar!">
            </div>
            <!-- <div class="menu" id="menu">
                <img src="../images/menu.png" alt="">
            </div> -->
        </nav>
        <div class="intro">
            <h1>
                <span class="intro-heading-main d-block text-accent noto">Hi.</span>
                <span class="intro-heading-sub d-block lilita">I'm Foodie.</span>
                <span class="intro-heading-detail d-block raleway">A <b>web</b> and <b>mobile</b> developer.</span>
            </h1>
        </div>
        <div class="next-section-icon bg-accent">
            <i class="fa fa-arrow-down text-white"></i>
        </div>
    </header>

    <!-- About Section -->
    <section class="section-about">
        <h1 class="heading-secondary">&lt;/Me&gt;</h1>
        <div class="section-about__info">
        <div class="col-1-of-2">
            <span>I'm Foodie.😎</span>
            <p>
                A boy from the south-western region of Nigeria. Builds applications for humans, and sometimes robots. Loves to build beautiful user interfaces that promote great user experiences. I build scalable and highly performant web applications with the <a href="#" class="ng-link">Angular</a> framework. I also build mobile apps for the <a href="#" class="android-link">Android</a> operating system using the good old Java, and the new kid on the block, <b>"Kotlin"</b>.
            </p>
            <p>
                Enough of <a href="#" class="sec-link">what i can do</a>, <a href="#" class="basic-link">what have i done?</a>. I give <a href="#" class="basic-link">talks</a> occassionaly at local meetups or conferences. I also write <a href="#" class="accent-link">technical posts</a> on my blog - <a href="#" class="basic-link">CodeChronicles</a> and <a href="#" class="sec-link">Medium</a>. 
            </p>
        </div>
        <div class="col-1-of-2">
            <div class="img-container">
                <img src="../images/me.jpg" alt="">
            </div>
        </div>
        </div>
    </section>

    <section class="section-skills">
        <div class="message">
            <div class="message-content">
                <h1>What Can I Do?</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus molestiae rerum eum perspiciatis recusandae quae blanditiis quisquam repudiandae ea commodi dolor sapiente vero expedita quam sint excepturi, quod, cumque inventore praesentium ad dignissimos fugiat explicabo?
                </p>
            </div>
            <div class="skills-card">
                <div class="skill"></div>
            </div>
        </div>
    </section>

    <!-- Work Section -->
    <section class="section-work">
        <h1 class="heading-secondary">&lt;/Work&gt;</h1>
        <div class="workrobe raleway">
            <div class="work">
                <div class="work-title">
                    Lorem ipsum dolor sit amet consectetur.
                </div>
                <div class="work-description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum quaerat, debitis inventore soluta rem assumenda optio sit numquam adipisci consequatur?
                </div>
                <div class="work-tags">
                    <div class="tag ng-tag">angular</div>
                    <div class="tag andr-tag">android</div>
                    <div class="tag web-tag">web</div>
                </div>
                <div class="work-links">
                    <a href="#" class="github-link">
                        <i class="fa fa-github"></i>
                    </a>
                    <a href="#" class="web-link">
                        <i class="fa fa-globe"></i>
                    </a>
                    <a href="#" class="apk-link">
                        <i class="fa fa-android"></i>
                    </a>
                </div>
            </div>
            <div class="work">
                <div class="work-title">
                    Lorem ipsum dolor sit amet consectetur.
                </div>
                <div class="work-description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum quaerat, debitis inventore soluta rem assumenda optio sit numquam adipisci consequatur?
                </div>
                <div class="work-tags">
                    <div class="tag ng-tag">angular</div>
                    <div class="tag andr-tag">android</div>
                    <div class="tag web-tag">web</div>
                </div>
                <div class="work-links">
                    <a href="#" class="github-link">
                        <i class="fa fa-github"></i>
                    </a>
                    <a href="#" class="web-link">
                        <i class="fa fa-globe"></i>
                    </a>
                    <a href="#" class="apk-link">
                        <i class="fa fa-android"></i>
                    </a>
                </div>
            </div>
            <div class="work">
                <div class="work-title">
                    Lorem ipsum dolor sit amet consectetur.
                </div>
                <div class="work-description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum quaerat, debitis inventore soluta rem assumenda optio sit numquam adipisci consequatur?
                </div>
                <div class="work-tags">
                    <div class="tag ng-tag">angular</div>
                    <div class="tag andr-tag">android</div>
                    <div class="tag web-tag">web</div>
                </div>
                <div class="work-links">
                    <a href="#" class="github-link">
                        <i class="fa fa-github"></i>
                    </a>
                    <a href="#" class="web-link">
                        <i class="fa fa-globe"></i>
                    </a>
                    <a href="#" class="apk-link">
                        <i class="fa fa-android"></i>
                    </a>
                </div>
            </div>
            <div class="work">
                <div class="work-title">
                    Lorem ipsum dolor sit amet consectetur.
                </div>
                <div class="work-description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum quaerat, debitis inventore soluta rem assumenda optio sit numquam adipisci consequatur?
                </div>
                <div class="work-tags">
                    <div class="tag ng-tag">angular</div>
                    <div class="tag andr-tag">android</div>
                    <div class="tag web-tag">web</div>
                </div>
                <div class="work-links">
                    <a href="#" class="github-link">
                        <i class="fa fa-github"></i>
                    </a>
                    <a href="#" class="web-link">
                        <i class="fa fa-globe"></i>
                    </a>
                    <a href="#" class="apk-link">
                        <i class="fa fa-android"></i>
                    </a>
                </div>
            </div>
            <div class="work">
                <div class="work-title">
                    Lorem ipsum dolor sit amet consectetur.
                </div>
                <div class="work-description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum quaerat, debitis inventore soluta rem assumenda optio sit numquam adipisci consequatur?
                </div>
                <div class="work-tags">
                    <div class="tag ng-tag">angular</div>
                    <div class="tag andr-tag">android</div>
                    <div class="tag web-tag">web</div>
                </div>
                <div class="work-links">
                    <a href="#" class="github-link">
                        <i class="fa fa-github"></i>
                    </a>
                    <a href="#" class="web-link">
                        <i class="fa fa-globe"></i>
                    </a>
                    <a href="#" class="apk-link">
                        <i class="fa fa-android"></i>
                    </a>
                </div>
            </div>
            <div class="work">
                <div class="work-title">
                    Lorem ipsum dolor sit amet consectetur.
                </div>
                <div class="work-description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum quaerat, debitis inventore soluta rem assumenda optio sit numquam adipisci consequatur?
                </div>
                <div class="work-tags">
                    <div class="tag ng-tag">angular</div>
                    <div class="tag andr-tag">android</div>
                    <div class="tag web-tag">web</div>
                </div>
                <div class="work-links">
                    <a href="#" class="github-link">
                        <i class="fa fa-github"></i>
                    </a>
                    <a href="#" class="web-link">
                        <i class="fa fa-globe"></i>
                    </a>
                    <a href="#" class="apk-link">
                        <i class="fa fa-android"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Posts Section -->
    <section class="section-posts">
        <h1 class="heading-secondary">&lt;/Posts&gt;</h1>
        <div class="posts">
            <div class="post">
                <img src="../images/work.jpg" alt="">
                <div class="post-content">
                    <div class="post-tags">
                        <span class="post-tag">cat</span> &FilledVerySmallSquare; <span class="post-tag">dog</span> &FilledVerySmallSquare;
                        <span class="post-tag">dog</span>
                    </div>
                    <div class="post-title-wrapper">
                        <span class="post-title">Post Title</span>
                    </div>
                    <div class="post-snip-wrapper">
                        <span class="post-snip">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, odio.
                        </span>
                    </div>
                    <div class="post-date-wrapper">
                        <span class="post-date">27/10/2019</span>
                    </div>
                </div>
                <div class="button-wrapper">
                    <button class="read-post-button">Read &rarr;</button>
                </div>
            </div>
            <div class="post">
                <img src="../images/work.jpg" alt="">
                <div class="post-content">
                    <div class="post-tags">
                        <span class="post-tag">cat</span> &FilledVerySmallSquare; <span class="post-tag">dog</span> &FilledVerySmallSquare;
                        <span class="post-tag">dog</span>
                    </div>
                    <div class="post-title-wrapper">
                        <span class="post-title">Post Title</span>
                    </div>
                    <div class="post-snip-wrapper">
                        <span class="post-snip">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, odio.
                        </span>
                    </div>
                    <div class="post-date-wrapper">
                        <span class="post-date">27/10/2019</span>
                    </div>
                </div>
                <div class="button-wrapper">
                    <button class="read-post-button">Read &rarr;</button>
                </div>
            </div>
            <div class="post">
                <img src="../images/work.jpg" alt="">
                <div class="post-content">
                    <div class="post-tags">
                        <span class="post-tag">cat</span> &FilledVerySmallSquare; <span class="post-tag">dog</span> &FilledVerySmallSquare;
                        <span class="post-tag">dog</span>
                    </div>
                    <div class="post-title-wrapper">
                        <span class="post-title">Post Title</span>
                    </div>
                    <div class="post-snip-wrapper">
                        <span class="post-snip">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, odio.
                        </span>
                    </div>
                    <div class="post-date-wrapper">
                        <span class="post-date">27/10/2019</span>
                    </div>
                </div>
                <div class="button-wrapper">
                    <button class="read-post-button">Read &rarr;</button>
                </div>
            </div>
            <div class="post">
                <img src="../images/work.jpg" alt="">
                <div class="post-content">
                    <div class="post-tags">
                        <span class="post-tag">cat</span> &FilledVerySmallSquare; <span class="post-tag">dog</span> &FilledVerySmallSquare;
                        <span class="post-tag">dog</span>
                    </div>
                    <div class="post-title-wrapper">
                        <span class="post-title">Post Title</span>
                    </div>
                    <div class="post-snip-wrapper">
                        <span class="post-snip">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, odio.
                        </span>
                    </div>
                    <div class="post-date-wrapper">
                        <span class="post-date">27/10/2019</span>
                    </div>
                </div>
                <div class="button-wrapper">
                    <button class="read-post-button">Read &rarr;</button>
                </div>
            </div>
            <div class="post">
                <img src="../images/work.jpg" alt="">
                <div class="post-content">
                    <div class="post-tags">
                        <span class="post-tag">cat</span> &FilledVerySmallSquare; <span class="post-tag">dog</span> &FilledVerySmallSquare;
                        <span class="post-tag">dog</span>
                    </div>
                    <div class="post-title-wrapper">
                        <span class="post-title">Post Title</span>
                    </div>
                    <div class="post-snip-wrapper">
                        <span class="post-snip">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, odio.
                        </span>
                    </div>
                    <div class="post-date-wrapper">
                        <span class="post-date">27/10/2019</span>
                    </div>
                </div>
                <div class="button-wrapper">
                    <button class="read-post-button">Read &rarr;</button>
                </div>
            </div>
            <div class="post">
                <img src="../images/work.jpg" alt="">
                <div class="post-content">
                    <div class="post-tags">
                        <span class="post-tag">cat</span> &FilledVerySmallSquare; <span class="post-tag">dog</span> &FilledVerySmallSquare;
                        <span class="post-tag">dog</span>
                    </div>
                    <div class="post-title-wrapper">
                        <span class="post-title">Post Title</span>
                    </div>
                    <div class="post-snip-wrapper">
                        <span class="post-snip">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, odio.
                        </span>
                    </div>
                    <div class="post-date-wrapper">
                        <span class="post-date">27/10/2019</span>
                    </div>
                </div>
                <div class="button-wrapper">
                    <button class="read-post-button">Read &rarr;</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Talks Section -->
    <section class="section-talks">
        <h1 class="heading-secondary">&lt;/Talks&gt;</h1>
        <div class="talks">
            <div class="talk">
                <span class="talk-title">Talk title <span class="upcoming">upcoming</span> </span>
                <span class="talk-venue">Lorem ipsum dolor sit.</span> &FilledVerySmallSquare; <span class="talk-date"> 27 Sep, 2019 </span> &FilledVerySmallSquare; <span class="talk-slides"><a href="#">SLIDES</a></span>
                <span class="talk-snip">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi facere repellendus sunt odit fugiat doloremque possimus! Dolor alias perspiciatis tempore.</span>
            </div>
            <div class="talk">
                <span class="talk-title">Talk title</span>
                <span class="talk-venue">Lorem ipsum dolor sit.</span> &FilledVerySmallSquare; <span class="talk-date"> 27 Sep, 2019 </span> &FilledVerySmallSquare; <span class="talk-slides"><a href="#">SLIDES</a></span>
                <span class="talk-snip">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi facere repellendus sunt odit fugiat doloremque possimus! Dolor alias perspiciatis tempore.</span>
            </div>
            <div class="talk">
                <span class="talk-title">Talk title <span class="upcoming">upcoming</span></span>
                <span class="talk-venue">Lorem ipsum dolor sit.</span> &FilledVerySmallSquare; <span class="talk-date"> 27 Sep, 2019 </span> &FilledVerySmallSquare; <span class="talk-slides"><a href="#">SLIDES</a></span>
                <span class="talk-snip">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi facere repellendus sunt odit fugiat doloremque possimus! Dolor alias perspiciatis tempore.</span>
            </div>
            <div class="talk">
                <span class="talk-title">Talk title</span>
                <span class="talk-venue">Lorem ipsum dolor sit.</span> &FilledVerySmallSquare; <span class="talk-date"> 27 Sep, 2019 </span> &FilledVerySmallSquare; <span class="talk-slides"><a href="#">SLIDES</a></span>
                <span class="talk-snip">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi facere repellendus sunt odit fugiat doloremque possimus! Dolor alias perspiciatis tempore.</span>
            </div>
            <div class="talk">
                <span class="talk-title">Talk title <span class="upcoming">upcoming</span></span>
                <span class="talk-venue">Lorem ipsum dolor sit.</span> &FilledVerySmallSquare; <span class="talk-date"> 27 Sep, 2019 </span> &FilledVerySmallSquare; <span class="talk-slides"><a href="#">SLIDES</a></span>
                <span class="talk-snip">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi facere repellendus sunt odit fugiat doloremque possimus! Dolor alias perspiciatis tempore.</span>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section class="section-contact">
        <h1 class="heading-secondary">&lt;/Contact&gt;</h1>
        <div class="contact-grid">
            <div class="contact-grid-intro">
                <span>Hi again!💩</span>
                <p>
                    You can always find me lurking on <a href="#" class="social-link tw-link">Twitter</a>, forking repos on <a href="#" class="social-link gth-link">GitHub</a>. Have anything you wanna say to me?, you can use the contact form right here!👉🏾. Keep learning, and I can't wait to hear from you!
                </p>
            </div>
            <div class="contact-grid-form">
                <div class="form-pane">
                    <div class="form-pane-header">
                        <div class="ball red-ball"></div>
                        <div class="ball yellow-ball"></div>
                        <div class="ball green-ball"></div>
                        <!-- <img src="../images/message.png" alt="send message!"> -->
                    </div>
                    <div class="form-pane-body">
                        <form>
                            <input  
                                type="text"
                                name="name"
                                placeholder="your name"
                            >
                            <input  
                                type="email"
                                name="email"
                                placeholder="your email"
                            >
                            <input
                                type="text"
                                name="subject"
                                placeholder="subject of your message"
                            >
                            <textarea
                                name="message"
                                placeholder="your message..."
                                cols="30" 
                                rows="10"
                            ></textarea>
                            <div class="button-wrapper">
                                <button type="submit">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <footer class="footer">
        <p>
            <a href="#">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fa fa-github"></i>
            </a>
            <br>
            <span style="margin-top: 10px">Copyright &copy; 2019</span>
        </p>
    </footer>

    <!-- Login modal -->
    <section class="modal" id="modal" style="display: none;">
        <div class="modal-content">
            <h1 class="heading-primary">Welcome.</h1>
            <div class="form">
                <form action="">
                    <input type="text" placeholder="Username">
                    <input type="password" placeholder="Password">
                    <button class="btn-login">Login</button>
                </form>
            </div>
        </div>
    </section>

    <script src="../scripts/index.js"></script>
</body>
</html>